.nav-icon {
    display: flex;
    height: 4rem;
    font-size: 1.8rem;
    align-items: center;
    padding-left: 2rem;
    color: rgb(197, 197, 197);

    &__label {
        margin-left: 2rem;
        font-weight: 700;
    }

    &:hover {
        cursor: pointer;
        color: $white;
    }
}